<header class="py-3">

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid primary-color">
      <span class="navbar-brand ms-5 purple" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/>
      </svg> AlwaysApply</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto ms-5 me-5  mb-2 mb-lg-0 ma-10">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/job-list">Jobs</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
        </ul>
        <span class="d-flex me-5 d-grid gap-2 d-md-block">
          <button class="btn btn-outline-primary me-3" type="button">Contact Us</button>
    <button class="btn btn-primary" type="button">Login   </button>
        </span>
      </div>
    </div>
  </nav>

</header>
