<div class="container form-container">
    <div class="form-card card">
        <form (ngSubmit)="updateJob()">
            <!-- Personal Info Section -->
            <div class="form-section">
                <h5 class="form-section-title">Personal Info</h5>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input  [(ngModel)]="job.name" name="name" type="text" class="form-control" id="inputName"  required>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="job.email" name="email"   type="email" class="form-control" id="inputEmail" placeholder={{job.email}} required>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputPhone" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="job.phone" name="phone" type="text" class="form-control" id="inputPhone" placeholder="Enter your phone number" required>
                    </div>
                </div>
            </div>

            <!-- Education Section -->
            <div class="form-section">
                <h5 class="form-section-title">Education</h5>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputDegree" class="col-sm-3 col-form-label">Degree</label>
                    <div class="col-sm-9">
                        <input  [(ngModel)]="job.degree" name="degree" type="text" class="form-control" id="inputDegree" placeholder="Enter your degree" required>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputUniversity" class="col-sm-3 col-form-label">University</label>
                    <div class="col-sm-9">
                        <input  [(ngModel)]="job.university" name="university" type="text" class="form-control" id="inputUniversity" placeholder="Enter your university" required>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputMajor" class="col-sm-3 col-form-label">Major</label>
                    <div class="col-sm-9">
                        <input   [(ngModel)]="job.major" name="major" type="text" class="form-control" id="inputMajor" placeholder="Enter your major" required>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputGraduationYear" class="col-sm-3 col-form-label">Graduation Year</label>
                    <div class="col-sm-9">
                        <input  [(ngModel)]="job.graduationYear" name="graduationYear" type="text" class="form-control" id="inputGraduationYear" placeholder="Enter your graduation year">
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputGPA" class="col-sm-3 col-form-label">GPA</label>
                    <div class="col-sm-9">
                        <input  [(ngModel)]="job.gpa" name="gpa"  type="text" class="form-control" id="inputGPA" placeholder="Enter your GPA">
                    </div>
                </div>
            </div>

            <!-- Experience Section -->
            <div class="form-section">
                <h5 class="form-section-title">Experience</h5>

                <div class="form-group d-flex align-items-center mb-3">
                    <label for="inputyearsExperience" class="col-sm-3 col-form-label">Years of Experience</label>
                    <div class="col-sm-9">
                        <input  [(ngModel)]="job.experienceYears" name="experience"  type="text" class="form-control" id="inputyearsExperience" placeholder="Enter years of experience">
                    </div>
                  </div>
                  </div>
                <input type="submit" value="submit">
              </form>
          </div>
