<div style="padding: 3em">
    <h2>Job Applications</h2>
 <div class="card">
   
  <ul>
    <li *ngFor="let application of jobApplications">
      <strong>Name:</strong> {{ application.personalInfo.name }} <br />
      <strong>Email:</strong> {{ application.personalInfo.email }} <br />
      <strong>Phone:</strong> {{ application.personalInfo.phone }} <br />
      <strong>Degree:</strong> {{ application.education.degree }} <br />
      <strong>University:</strong> {{ application.education.university }} <br />
      <strong>Major:</strong> {{ application.education.major }} <br />
      <strong>Graduation Year:</strong> {{ application.education.graduationYear }} <br />
      <strong>GPA:</strong> {{ application.education.gpa }} <br />
      <strong>Years of Experience:</strong> {{ application.experience.yearsExperience }} <br />
      <strong>title:</strong> {{ application.jobDetails?.jobTitle }} <br />
      <strong>company:</strong> {{ application.jobDetails?.company}} <br />
      <strong>Salary:</strong> {{ application.jobDetails?.salary}} <br />
      <hr />
    </li>
  </ul>



    <!-- <p *ngIf="jobApplications.length === 0">No job applications found.</p> -->
  </div>
  

 