<section class="banner">

  <div class="py-24">
    <div class="container max-w-screen-xl">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5 mb-10 mb-lg-0">
          <!-- Heading -->
          <h1 class="display-3 mb-5">
            Find a job that aligns with your interests and skills
          </h1>
          <!-- Text -->
          <p class="lead  display-5 mb-10">
            Thousands of jobs in all the leading sector are waiting for you
          </p>

        </div>
        <div class="col-12 col-lg-6 ms-lg-auto">


            <!-- Image -->
            <img alt="..." src="https://designtemplate.tech/2D-Flat-Character-Job-Interview-Illustration-700.webp" class="shadow-4 rounded-4 position-relative overlap-10" />
          </div>
        </div>
      </div>
    </div>




</section>
