
  <section> 
    <div class="header text-lg-center p-5">
      <h1> Featured Jobs</h1>
      <p>Choose Jobs from the top employers and apply</p>
    </div>
    <div class="container">
      <div class="row">
    <div  *ngFor="let job of jobModelList"
    class="col-md-4 mb-4">
        <div class="job-card card h-100 w-100">
          <div class="card-body">
            <h2 class="card-title">{{job.title}}</h2>
          <p class="card-text">Salary: {{job.salary}}</p>
            <p class="card-text">{{job.company}}</p>
            <p class="card-text">{{job.location}}</p>
          <a routerLink="/job-application" [queryParams]="{ title: job.title, company: job.company, salary: job.salary }" class="btn btn-primary">Apply Now</a>
  
        </div>
      </div>
    </div>
  </div>
</div>
  </section> 

 
   