.container {
    max-width: 800px;
    margin: 50px auto;
  }
  
  mat-horizontal-stepper {
    margin-top: 20px;
    --mat-stepper-header-icon-foreground-color: #ffffff;
    --mat-stepper-header-edit-state-icon-background-color:rgb(0, 225, 225)  !important;
    --mat-stepper-header-icon-foreground-color: #ffffff;
  }
 
  mat-icon {
    font-family: 'Material Icons' !important;  
  }
  
  .btn {
    margin-right: 10px; /* Spacing between buttons */
  }
  