<div class="container max-w-screen-x mg-5" style="padding: 5em">

  <div class="job-details">
    <h3>Job Application Details</h3>
    <p><strong>Job Title:</strong> {{ jobTitle }}</p>
    <p><strong>Company:</strong> {{ company }}</p>
    <p><strong>Salary:</strong> {{ salary }}</p>
  </div>
  <mat-horizontal-stepper class="center" #stepper [linear]="true">

    <!-- Step 1: Personal Info -->
    <mat-step  [stepControl]="personalInfo" label="Personal Information">
      <form [formGroup]="jobApplication">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter your name" />
          <mat-error *ngIf="jobApplication.get('name')?.hasError('required')">
            Name is required
          </mat-error>
          <!-- <mat-error *ngIf="jobApplication.get('name')?.hasError('pattern')">
            Please enter a valid name
          </mat-error> -->
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email" />
          <mat-error *ngIf="jobApplication.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="jobApplication.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
<br>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" placeholder="Enter your phone number" />
          <mat-error *ngIf="jobApplication.get('phone')?.hasError('required')">
            Phone number is required
          </mat-error>
          <!-- <mat-error *ngIf="jobApplication.get('phone')?.hasError('pattern')">
            Enter a valid number
          </mat-error> -->
        </mat-form-field>

        <div class="next-padding">
          <button   mat-flat-button color="purple" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Education -->
    <mat-step [stepControl]="education" label="Education">
      <ng-template matStepperIcon="custom">
        <mat-icon>book</mat-icon>
   </ng-template>
      <form [formGroup]="jobApplication">
        <mat-form-field appearance="outline">
          <mat-label>Degree</mat-label>
          <mat-select formControlName="degree">
            <mat-option *ngFor="let degree of degrees" [value]="degree">
              {{ degree }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobApplication.get('degree')?.hasError('required')">
            Degree is required
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Major</mat-label>
          <mat-select formControlName="major">
            <mat-option *ngFor="let major of majors" [value]="major">
              {{ major }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobApplication.get('major')?.hasError('required')">
            Major is required
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>University</mat-label>
          <mat-select formControlName="university">
            <mat-option *ngFor="let university of universities" [value]="university">
              {{ university }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobApplication.get('university')?.hasError('required')">
            University is required
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Graduation Year</mat-label>
          <mat-select formControlName="graduationYear">
            <mat-option *ngFor="let year of graduationYears" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobApplication.get('graduationYear')?.hasError('required')">
            Graduation year is required
          </mat-error>
        </mat-form-field>

            <br>

             <!-- Radio Button Group for GPA -->
             <mat-form-field appearance="outline">
              <mat-label>GPA</mat-label>
              <input matInput formControlName="gpa" placeholder="Enter your GPA" />
              <mat-error *ngIf="jobApplication.get('gpa')?.hasError('required')">
                GPA year is required
              </mat-error>



            </mat-form-field>

            <mat-radio-group  aria-label="Select GPA scale">
              <mat-radio-button default value="4.0">Out of 4</mat-radio-button>
              <mat-radio-button value="5.0">Out of 5</mat-radio-button>
            </mat-radio-group>
            <!-- <mat-error *ngIf="jobApplication.get('gpaScale')?.hasError('required')">
              GPA scale is required
            </mat-error> -->



        <div class="hstack">
          <button mat-flat-button matStepperPrevious>Back</button>
          <div class="submit-padding">
          <button mat-flat-button matStepperNext>Next</button>
        </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: Experience -->
    <mat-step [stepControl]="experience" label="Work Experience">
      <form [formGroup]="jobApplication">
        <ng-template matStepperIcon="custom">
          <mat-icon>person</mat-icon>
     </ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Years of Experience</mat-label>
          <input matInput formControlName="experienceYears" placeholder="Enter your experience in years" />
          <mat-error *ngIf="jobApplication.get('experienceYears')?.hasError('required')">
            Experience is required
          </mat-error>
        </mat-form-field>
<br>
        <mat-form-field appearance="outline">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="jobTitle" placeholder="Enter your job title" />
          <mat-error *ngIf="jobApplication.get('jobTitle')?.hasError('required')">
            Job title is required
          </mat-error>
        </mat-form-field>

        <div class="hstack">
          <div>
          <button mat-flat-button matStepperPrevious>Back</button>
        </div>
          <div class="submit-padding">
          <button  routerLink="/submission" mat-raised-button color="primary"  (click)="onSubmit()" [disabled]="!jobApplication.valid">Submit</button>
        </div>
        </div>
      </form>
    </mat-step>


    <ng-template matStepperIcon="edit">
      <ng-container>
        <mat-icon
          *ngIf ="stepper.selectedIndex === 0">assignment_ind</mat-icon>

          <mat-icon
          *ngIf ="stepper.selectedIndex === 1">school</mat-icon>

          <mat-icon
          *ngIf ="stepper.selectedIndex === 2">work</mat-icon>




      </ng-container>




 </ng-template>


  </mat-horizontal-stepper>


</div>
