<div style="padding: 3em">

<mat-horizontal-stepper>
  <form [formGroup]="jobApplication" (ngSubmit)="onSubmit()">
<mat-step state="account" label="Step 1">

  <mat-label>Name</mat-label>
  <input formControlName="isNotEmpty" formControlName="name"/>
  <mat-error *ngIf="jobApplication.get('name')?.hasError('required')">
    Name is Required
  </mat-error>


  <mat-label>Email</mat-label>
  <input formControlName="isNotEmpty" formControlName="email"/>
  <mat-error *ngIf="jobApplication.get('email')?.hasError('required')">
    Name is Required
  </mat-error>
  <button matStepperNext>Next</button>

  </mat-step>


  <mat-step state="chat"  label="Step 2">
    <mat-form-field>
      <mat-label>Email</mat-label>
  <input formControlName="isNotEmpty" formControlName="email"/>
  <mat-error *ngIf="jobApplication.get('email')?.hasError('required')">
    Name is Required
  </mat-error>
      </mat-form-field>
      </mat-step>
    


  <mat-step state="phone"  label="Step 3"> 
    <input type="submit" value="submit">
  </mat-step>

</form>
<ng-template matStepperIcon="phone">
   <mat-icon>call_end</mat-icon>
</ng-template>

<ng-template matStepperIcon="chat">
  <mat-icon>forum</mat-icon>
</ng-template>

<ng-template matStepperIcon="account">
  <mat-icon >account_circle</mat-icon>
</ng-template>

</mat-horizontal-stepper>
</div>

{{jobApplication.value  | json }}